@import '../main.css';
@import '../header.css';
@import '../logo.css';
@import '../pagination.css';
@import '../post.css';
@import '../syntax.css';
@import '../variables.css';

:root {
  --accent: #23B0FF;
  --background: color-mod(var(--accent) blend(rgb(245, 245, 245) 98%));
  --color: rgb(45, 45, 45);
  --border-color: rgba(0, 0, 0, 0.9);
}
